// Fonts
@import url('https://fonts.googleapis.com/css?family=Tenor+Sans|Vollkorn&display=swap');
// Variables
@import 'variables';
// Bootstrap
@import '~bootstrap/scss/bootstrap';

* {
    font-family: Tenor Sans, sans-serif;
}

body, html {
    background: #fff;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Vollkorn, serif;
}

@include media-breakpoint-up(md) {
    .container .row {
        margin: auto 100px;
    }
}

.top-nav.navbar {
    min-height: 80px;
    font-family: 'Tenor Sans', sans-serif;
    border-bottom: 1px solid #EBEBEB;

    .logo {
        max-height: 40px;
    }

    .collapse {
        width: 100%;

        .links {
            width: 100%;
        }
    }

    .nav-item {
        margin: auto $spacer*1.25;
    }

    a.nav-link {
        color: #191919;
        font-size: 14px;
    }

    @include media-breakpoint-up(md) {
        .donate {
            margin: -20px $spacer*1.25;
            padding: 20px;
            padding-right: 0;
        }

        .nav-item.donate {
            border-left: 1px solid #EBEBEB;
            padding-left: $spacer*2;
        }
    }

    .donate a.nav-link {
        text-transform: uppercase;
        color: #ED7F3D;
    }

}

.header {
    background: url("/img/bg-top-left.png") no-repeat;
    background-position-y: -70px;

    .row {
        margin-right: 0;
    }
}

.header .nature {
    margin-top: 100px;
    max-width: 100%;
}

.header .title {
    margin-top: 139px;

    h2 {
        //white-space: nowrap;
        font-family: Vollkorn, serif;
        font-size: 32px;
        line-height: 61px;
    }

    .info {
        font-family: Tenor Sans, sans-serif;
        font-size: 16px;

        span {
            color: #ED7F3D;
        }
    }

    .buttons {
        margin-top: 50px;

        a {
            font-family: Tenor Sans, sans-serif;
            font-size: 16px;
            line-height: 19px;
            text-transform: uppercase;

            text-decoration: none;

            margin-right: 20px;
            padding: 5px;
        }

        .donate {
            color: #000000;
            border-bottom: 3px solid #ED7F3D;
        }

        .more-info {
            color: #808080;
        }
    }

}

.active-projects {
    .project {
        text-align: center;
        margin-top: 50px;
        background: #FAFAFA;
        border: 1px solid #E6E6E6;
        box-sizing: border-box;
        border-radius: 2px;
        padding: 20px;

        .project-icon {
            width: 100px;
            margin: 15px;
        }

        .project-link {
            font-size: 16px;
            line-height: 19px;
            text-transform: uppercase;
            text-decoration: none;

            color: #000000;
            border-bottom: 3px solid #ED7F3D;
        }

        .project-link:hover {
            border-bottom: none;
            background: #ED7F3D;
        }

        .project-collected {
            border-top: 1px solid #E6E6E6;
            border-bottom: 1px solid #E6E6E6;
            padding: 5px;
            margin-bottom: 15px;
        }
    }

    .project:hover {
        background: #FFFFFF;
        border: 1px solid #ED7F3D;
    }
}

.about {
    padding-top: 100px;
    padding-bottom: 100px;

    .about-header {
        color: #ED7F3D;
    }

    .about-title {
        font-size: 32px;
    }

    .description {
        font-size: 14px;
    }

    .more-info {
        padding-top: 40px;

        a {
            text-transform: uppercase;
            border-bottom: 3px solid #ED7F3D;
            color: #000;
            text-decoration: none;
        }
    }

    .goals {
        color: #ED7F3D;
        list-style: square;
    }
}

.gallery {
    .row > div {
        overflow: hidden;

        .spotlight-group {
            min-width: 100%;
            white-space: nowrap;
        }
    }
}

.nabl {
    margin-top: 100px;

    .nabl-photos {
        .nabl-photo {
            text-align: center;
            padding: 20px;
            float: left;

            img {
                width: 100px;
            }
        }
    }

    .nabl-people {
        display: none;

        .nabl-name {
            font-size: 22px;
            margin-bottom: 10px;
        }
    }

    .nabl-people.active {
        display: block;
    }

    .nabl-links {
        margin-top: 15px;

        a {
            margin-right: 20px;
            color: #ED7F3D;
            text-transform: uppercase;
            border-bottom: 1px dotted #ED7F3D;
            text-decoration: none;
        }
    }
}

.socials {
    color: #fff;

    .row {
        margin-top: 100px;
        padding: 20px;
        background: url("/img/socials-bg.png");
    }

    .info {
        margin: 20px;
    }

    .links {
        padding: 20px;
        margin-top: 20px;

        a {
            margin: 10px;
        }
    }
}

.footer-nav {
    margin-top: 100px;

    .links {
        margin-top: 20px;

        a {
            text-decoration: none;
            color: #191919;
        }
    }

    a {
        color: #ED7F3D;
        text-decoration: none;
    }
}

.footer {
    background: #393938;
    color: #fff;

    p {
        padding: 5px;
        margin-bottom: 0;
    }
}
